<style>
    .z-search-input {
        width: 100%;
        font-weight: 600;
        margin-top: 1rem;
    }

    .z-search-tip {
        margin-top: 5px;
        padding: 1.25rem 0;
    }

    #btnLoadMore {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        font-weight: bold;
    }

    .d-none {
        display: none;
    }

</style>
<div>
    <form id="searchForm">
        <div>
            <input class="z-search-input" name="q" placeholder="请输入关键字">
        </div>
    </form>
    <div class="z-search-tip">
        <svg id="loadingSpinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M12 2a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1zm0 15a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1zm8.66-10a1 1 0 0 1-.366 1.366l-2.598 1.5a1 1 0 1 1-1-1.732l2.598-1.5A1 1 0 0 1 20.66 7zM7.67 14.5a1 1 0 0 1-.366 1.366l-2.598 1.5a1 1 0 1 1-1-1.732l2.598-1.5a1 1 0 0 1 1.366.366zM20.66 17a1 1 0 0 1-1.366.366l-2.598-1.5a1 1 0 0 1 1-1.732l2.598 1.5A1 1 0 0 1 20.66 17zM7.67 9.5a1 1 0 0 1-1.366.366l-2.598-1.5a1 1 0 1 1 1-1.732l2.598 1.5A1 1 0 0 1 7.67 9.5z"/>
        </svg>
        <span id="searchStat"></span>
    </div>
    <ul id="searchResults" class="blog-posts"></ul>
</div>
<!--在这个页面搜 不会发送网络请求-->
</script>
<script>
    const form = document.querySelector('#searchForm');
    const input = form.querySelector('input[name="q"]');
    if (input.value === '') {
        input.value = new URLSearchParams(window.location.search).get('q');
    }
    form.addEventListener('submit', (event) => {
        search(input.value);
        event.preventDefault();
    });
    const noKeywords = "请输入搜索关键字";
    const noResults = "搜索不到相关内容";
    const resultCnt = "搜索到相关文章";
    const resultsElement = document.getElementById('searchResults');
    const stat = document.getElementById('searchStat');
    const loadingSpinner = document.getElementById('loadingSpinner');
    let data = [];
    let thisResults = [];
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = () => {
        if (xhr.readyState === 4) {
            if (xhr.status !== 200) {
                console.error({error: xhr.statusText});
                return;
            }
            // index.json数据
            data = xhr.response;
            search(input.value);
        }
    };
    xhr.responseType = 'json';
    xhr.open('GET', document
        .head
        .querySelector('meta[data-name="search-index"]')
        .getAttribute('content'), true);
    xhr.send(null);

    function hideLoadingSpin() {
        loadingSpinner.classList.add('d-none');
    }

    function showLoadingSpin() {
        loadingSpinner.classList.remove('d-none');
    }

    function search(query) {
        let start = Date.now();
        showLoadingSpin();
        resultsElement.innerHTML = '';
        if (query === '') {
            stat.style.color = 'hsl(348, 86%, 43%)\t';
            stat.innerHTML = noKeywords;
            hideLoadingSpin();
            return;
        }
        const siz = data.length;
        let results = [];
        for (let i = 0; i < siz; i++) {
            if (data[i].title.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                results.push(data[i]);
            } else if (data[i].content.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                results.push(data[i]);
            } else if (data[i].category.name.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                results.push(data[i]);
            } else {
                for (let j = 0; j < data[i].tags.length; j++) {
                    if (data[i].tags[j].name.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                        results.push(data[i]);
                        break;
                    }
                }
            }
        }
        // 深拷贝，解决了先搜co再搜java的问题，内容被截断了一部分
        thisResults = JSON.parse(JSON.stringify(results))
        hideLoadingSpin();
        let end = Date.now();
        if (results.length > 0) {
            stat.style.color = 'hsl(141, 53%, 31%)'
            stat.innerHTML = `${resultCnt}${thisResults.length}篇( 花费时间${end - start}ms )`;
            for (let i = 0; i < thisResults.length; i += 1) {
                const result = thisResults[i];
                // 直接拼字符串，去掉mustache包
                let template = "";
                template += "<li>" +
                    "<span>" +
                    result.date +
                    "</span>" +
                    "<a href='" +
                    result.permalink +
                    "'>" +
                    result.title +
                    "</a>" +
                    "</li>"
                resultsElement.insertAdjacentHTML('beforeend', template);
            }
        } else {
            stat.style.color = 'hsl(48, 100%, 29%)';
            stat.innerHTML = noResults;
        }
    }
</script>
