<style>
    .z-term-item {
        background: #9fceff;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    .z-tag{
        align-items: center;
        border-radius: 4px;
        color: #3a3a3a;
        display: inline-flex;
        height: 2em;
        justify-content: center;
        line-height: 1.5;
        padding-left: .75em;
        padding-right: .75em;
        white-space: nowrap;
    }
</style>
<div>
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column" style="padding-left: 12px;">
            <div>
                <h1>{{title}}</h1>
                <div>
                    {{#categoryList}}
                    <a href="{{{link}}}">
                        <span class="z-tag z-term-item">
                            {{name}}({{num}})
                        </span>
                    </a>
                    {{/categoryList}}
                </div>
            </div>
        </div>
        <div class="column is-1"></div>
    </div>
</div>
