<style>
    .z-term-item {
        background: #9fceff;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    .z-tag {
        align-items: center;
        border-radius: 4px;
        color: #3a3a3a;
        display: inline-flex;
        height: 2em;
        justify-content: center;
        line-height: 1.5;
        padding-left: .75em;
        padding-right: .75em;
        white-space: nowrap;
    }
</style>
<div>
    <h1>{{title}}</h1>
    <div>
        {{#tagList}}
        <a href="{{{link}}}">
            <span class="z-tag z-term-item">
                {{name}}({{num}})
            </span>
        </a>
        {{/tagList}}
    </div>
</div>
