<style>
    .z-post-title {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .z-post-meta {
        font-size: 14px;
    }

    .z-post-date {
        float: right;
    }

    .z-post-tag {
        align-items: center;
        border-radius: 4px;
        display: inline-flex;
        height: 2em;
        justify-content: center;
        line-height: 1.5;
        padding-left: .75em;
        padding-right: .75em;
    }

    .z-post-tag.success {
        background-color: #effaf3;
        color: #257942;
    }

    .z-post-tag.warning {
        background-color: #fffbeb;
        color: #947600;
    }

    .z-pagination-div {
        margin-top: 25px;
        text-align: center;
    }

    ul.z-pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.z-pagination li {
        display: inline;
    }

    ul.z-pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
        margin: 0 4px;
    }

    ul.z-pagination li a.active {
        background-color: #5ecb63;
        color: white;
    }

    ul.z-pagination li a:hover:not(.active) {
        background-color: #ddd;
    }

    ul.z-pagination li a[disabled] {
        background: #666666 !important;
        opacity: 0.5;
        color: white;
    }

    ul.z-pagination li a[disabled]:hover {
        cursor: not-allowed !important;
    }


</style>
<div>
    <div>
        {{#data}}
        <div class="z-box">
            <h3 class="z-post-title">
                <a href="{{{permalink}}}">{{{title}}}</a>
            </h3>
            <div class="z-post-meta">
                        <span class="z-post-tag success">
                                <a href="{{{category.permalink}}}">{{{category.name}}}</a>
                        </span>
                {{#tags}}
                <span class="z-post-tag warning">
                            <a href="{{{permalink}}}">#{{{name}}}</a>
                        </span>
                {{/tags}}
                <span class="z-post-date">
                            {{{date}}}
                        </span>
            </div>
        </div>
        {{/data}}
    </div>
    <div class="z-pagination-div">
        <ul class="z-pagination">
            {{#number}}
            <li>
                <a class="{{{class}}}" {{{disabled}}} href="{{{link}}}">{{num}}</a>
            </li>
            {{/number}}
        </ul>
    </div>
</div>

